# Binaries
node_modules/
lib/

# Coverage
.nyc_output/
coverage/

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-debug.log

# IDE
*.code-workspace
.vscode/

# Examples
examples/content/package-lock.json
examples/mobx-full
examples/redux-lite
